<% content_for :header do %>
  <h1>Track Loan Amounts</h1>
<% end %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span7">
      <%= render :partial => "form" %>
    </div>
    <div class="span5">
      <%= render :partial => 'preview' %>
    </div>
  </div>
</div>
<style>
  select {
    width: 76px;
  }
</style>
