<% content_for :header do %>
  <h1>Update sub accounts</h1>
<% end %>

<div class="container-fluid">
  <% if @customer.errors.any? %>
    <%= error_message(@customer.errors.full_messages, 'alert-error')%>
  <% end %>
  <div class="row-fluid no_margin_top">
    <div class="span12">
      <%= simple_form_for(@customer, :url => customer_sub_profile_path, 
        :html => { :method => :put, :class=>"form-horizontal" } ) do |f| %>
        <div class="widget-box">
          <label>
            <div class="widget-title cursor-pointer">
              <span class="icon">
                <input type="checkbox" name="event" id='' href="#add_content" class="toggle" />                  
              </span>
              <h5>Edit/Update account</h5>
            </div>
          </label>
          <div class="widget-content nopadding" id="add_content">        
            <%= render :partial => "form", :locals => { :f => f } %>
          </div>
        </div>
      <% end %>      
    </div>
  </div>
</div>
