<% content_for :header do %>
  <h1>Your Messages</h1>
<% end %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="widget-box">
      <div class="widget-title">
        <span class="icon">
          <i class="icon-list"></i>
        </span> 
        <h5>Messages Update</h5>
      </div>
      <div class="widget-content nopadding updates">
        <%= render :partial => 'messages', :collection => @messages %>
      </div>
    </div>
  </div>
</div>
