<li style='text-align:center1;'>
  <div class="article-post">
    <h5>Finally a software to track the money you have loaned out!<h5>
  </div>
</li>

<li class='padding10'>
  <div class="article-post">
    <%= link_to "Set Up Your Profile", edit_customer_registration_path %>
  </div>
</li>
<li class='padding10'>
  <div class="article-post">
    <%= link_to "Set Up Your Customer", new_customer_invitation_path %>
  </div>
</li>
<li class='padding10'>
  <div class="article-post">
    <%= link_to "Set Up Your Loans", edit_loan_track_loans_path %>
  </div>
</li>
<li class='padding10'>
  <div class="article-post">
    <%= link_to "Try it for 3 months free", customer_subscription_index_path %>
  </div>
</li>

<li style='text-align:center1;'>
  <div class="article-post" style="width: 690px;">
    <p>
      There needs to be a place where you can track the money you have loaned out, 
      where you can track all your money even whats backing some exploritory 
      venture. setting up your loans + tracking then is a breaze, and we let you test drive 
      our software for 3 months or you can drive right in with one of our <a href='#'>Investor levels</a> 
    </p>
  </div>
</li>

<style>
  .padding10{
    padding: 14px 0 14px 160px ;
  }
</style>

