<li style='text-align:center1;'>
  <div class="article-post">
    <h5>Finally a software to track the money you have loaned out!<h5>
  </div>
</li>

<li class='padding10'>
  <div class="article-post">
    <%= link_to "Set Up Your Profile", edit_customer_registration_path %>
  </div>
</li>
<li class='padding10'>
  <div class="article-post">
    <%= link_to "Set Up Your Customer", new_customer_invitation_path %>
  </div>
</li>
<li class='padding10'>
  <div class="article-post">
    <%= link_to "Set Up Your Loans", edit_loan_track_loans_path %>
  </div>
</li>
<li class='padding10'>
  <div class="article-post">
    <%= link_to "Try it for 3 months free", "#" %>
  </div>
</li>
<style>
  .padding10{
    padding: 12px 0 12px 160px ;
  }
</style>

